---
layout: default
---

<ul class="posts">
  {% for post in paginator.posts %}
    <li class="posts-item">
      <h2>
        <a href="{{ post.url | prepend: site.baseurl }}" class="post-title">
          {{ post.title }}
        </a>
      </h2>
      <p>
        {{ post.excerpt | strip_html }}
        <a class="continue" href="{{ post.url | prepend: site.baseurl }}">Read more</a>
      </p>
    </li>
  {% endfor %}
</ul>

<div class="pagination">
  {% if paginator.previous_page %}
    <a class="pagination-link" href="{{ paginator.previous_page_path }}" class="previous"><span class="arrow">&larr;</span> Previous</a>
  {% endif %}
  {% if paginator.next_page %}
    <a class="pagination-link" href="{{ paginator.next_page_path }}" class="next">Next <span class="arrow">&rarr;</span></a>
  {% endif %}
</div>