.navigation {
  display: flex;
  align-items: center;
}

.intro-description {
  font-size: 1.25rem;
  font-weight: 300;
  color: rgba(0,0,0,0.87);
}

.logo {
  display: block;
  flex: 1 0 auto;
  max-width: 3rem;
  margin-right: 2rem;
}

.logo img {
  display: block;
}